/* Screen reader only */

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

/* Menu Button Style */
.menuToggle {
	display: inline-block;
	padding: .75em 15px;
	line-height: 1em;
	font-size: 2em;
	color: darkgrey;
}

.menuToggle:hover,
.menuToggle:focus {
	color: darkmagenta;
}

/* Default styles + Mobile first
   Offscreen menu style */
.menu {
	position: absolute;
	display: none;
	left: -200px;
	top: 0;
	height: 100%;
	overflow-x: scroll;
	overflow-y: visible;
	transition: left 0.3s ease, box-shadow 0.3s ease;
	z-index: 999;
}

.menu ul {
	list-style: none;
	margin: 0;
	padding: 2.5em 0 0;
	min-height: 100%;
	width: 200px;
	background: white;
}

.menu a {
	display: block;
	padding: .75em 15px;
	line-height: 3em;
	font-size: 1em;
	color: darkgrey;
	text-decoration: none;
}

.menu a:hover,
.menu a:focus {
	background: white;
	color: gray;
}

.menu .menuClose {
	position: absolute;
	right: 0;
	top: 0;
}

/* Toggle - Small Devices */
.menu:target,
.menu[aria-expanded="true"] {
	display: block;
	left: 0;
	outline: none;
	box-shadow: 3px 0 12px rgba(0, 0, 0, .25);
}

.menu:target .menuClose,
.menu[aria-expanded="true"] .menuClose {
	z-index: 1001;
}

.menu:target ul,
.menu[aria-expanded="true"] ul {
	position: relative;
	z-index: 1000;
}

.menu:target + .backdrop,
.menu[aria-expanded="true"] + .backdrop {
	position: absolute;
	display: block;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 998;
	background: white;
	background: rgb(255, 255, 255);
	cursor: default;
}

@supports (position: fixed) {
	.menu,
	.menu:target + .backdrop,
	.menu[aria-expanded="true"] + .backdrop {
		position: fixed;
	}
}

/* Body Style */

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
}
header {
	height: 10vh;
}
/* Main Container*/
.mainContainer {
	padding-left: 2rem;
	padding-right: 2rem;
}

/* Titles and Paragraphs in Main Container */
.subHeading,
#welcomeText {
	text-align: center;
}

#bioText {
	padding: 0 2rem;
	text-align: center;
}

/* Logo Banner Style */

.background-logo {
	background-size: cover;
	width: 100vw;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	margin: 0 auto;
}

.logo-container {
	display: flex;
	flex-direction: column;
}
.logo {
	align-self: center;
	width: 200px;
	padding: 5rem;
}

/* Portfolio Tiles  */
.individualTile {
	display: flex;
	width: 85vw;
	height: 30vh;
	display: flex;
	margin: 1rem auto;
}

.tileHeading {
	align-self: center;
	margin-left: auto;
	margin-right: auto;
	color: white;
	text-decoration: none;
	letter-spacing: 5px;
	font-weight: bolder;
}

/* Bio Section */
#bioContainer {
	width: 100%;
	background: linear-gradient(to bottom, #999696, #e1e1e1);
	margin: auto;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
}

.bioPhoto {
	margin-top: 2rem;
}
.bioPhoto img {
	width: 150px;
	height: auto;
	border-radius: 50%;
}

.socialMediaLinks i {
	margin-bottom: 3rem;
	padding-right: 2rem;
}

/* Footer */

footer {
	display: flex;
	margin-bottom: 2rem;
	align-items: center;
}
.logoFooter img.logo {
	width: 100px;
	padding: 1rem 0 0 5rem;
}

/* Large Screen */

@media (min-width: 768px) {
	/* HORIZONTAL MENU */
	.menuToggle,
	.menu .menuClose {
		display: none;
	}

	.menu {
		position: relative;
		left: auto;
		top: auto;
		height: auto;
		display: block;
	}

	.menu ul {
		display: flex;
		padding: 0;
		box-shadow: none;
		height: auto;
		width: auto;
		background: none;
		justify-content: center;
	}

	.menu a.backdrop {
		border: 0 !important;
	}

	.menu a:hover,
	.menu a:focus {
		background: none;
		color: gray;
	}

	/* Portfolio*/

	#portfolioTiles {
		display: flex;
		flex-wrap: wrap;
	}

	.individualTile {
		width: 28vw;
		height: 20vh;
	}

	/* Footer */

	footer {
		flex-direction: column;
		align-items: center;
		margin-bottom: 0;
	}

	.logoFooter img.logo {
		padding: 0 0 2rem 0;
	}
}
